<!DOCTYPE html>
<html lang="zh">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="This is a showcase of the many websites and platforms where you can find openly licensed icons, fonts, image, tools and other resources."/>
  <!-- Clarity tracking code for http://321one.com/ --><script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "4l2oe2d4w6");</script>
  <meta name=”Keywords” Content=”design,creat,设计,求职,picture,图片,art,艺术,招聘,美图,job,免费图片,job,photo,photoshop,Resources″>
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,600,700" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link href="styles/main.css" rel="stylesheet">
   <title>
    SAMHO Club Design
  </title>
  <script data-ad-client="ca-pub-9921197932759821" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta property="og:type" content="document"/>
  <meta property="og:release_date" content="2020-12-24"/>
  <meta property="og:title" content="samho resources 开源设计合作项目"/>
  <meta property="og:document:type" content="txt"/>
    <meta name="description" content="寻找工作项目最快捷的方式，为开源设计更好的服务"/>
  <meta property="og:document:page" content="90"/>
  <meta property="og:document:cost" content="免费"/>
</head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<a target="_blank" href="http://samhoclub.mikecrm.com/P2DnPi3" 

style="position:fixed;z-index:999;right:40px;bottom: 10px;display: 

inline-block;width: 90px;border-radius: 10px;color:white;font-

size:20px;line-height:10px;background: #2476CE;box-shadow: 0 0 10px 

#666;padding: 10px 15px;border: 2px solid white;">

JOIN&nbsp;US</a>
   <header>
        <div class="pp-header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container"><a href="index.html"><img src="images/favicon.png"></a><a class="navbar-brand" href="index.html">SAMHO</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="about.html">About</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="picture.html">picture</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="video.html">video</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="resources.html">resources</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="project.html">project</a>             
                  </li>
                  <li class="nav-item"><a class="nav-link" href="http://www.samho.club">Navigation</a>             
                  </li>
                  <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>

    <div class="page-content">
      <div class="wrapper">
        <div class="container">
  <div class="row">
    <div class="post col-md-8 col-md-offset-2">
      <header class="post-header">
        <h1 class="post-title">Resources</h1>
        <p class="post-meta">
          
        </p>
      </header>

      <article class="post-content">
        <p><strong>This is a showcase of the many websites and platforms where you can find openly licensed icons, fonts, image, tools and other resources.</strong> You can use them for any purpose, also commercial (some works have specific licenses, so always make sure it’s fine to use).</p>

<h2 id="icons">Icons</h2>

<ul>
  <li><a href="http://thenounproject.com">The Noun Project</a> CC and purchasable icons.</li>
  <li><a href="http://icomoon.io/">IcoMoon</a> CC icons and free to use icon-font creation
software.</li>
  <li><a href="http://github.com/adrianmg/pictogramas">Pictogramas</a> Open source free icons
for personal and commercial purposes.</li>
  <li><a href="http://www.toicon.com/">ToIcon</a> All icons are licensed under a Creative
Commons.</li>
  <li><a href="https://github.com/Xaviju/inkscape-open-symbols">Inkscape Open Symbols</a> Open
source icon sets to use as Inkscape symbols.</li>
  <li><a href="http://iconmonstr.com/">IconMonstr</a> A large collection of glyph icons from a
German artist. Free to use without attribution and free to modify.</li>
  <li><a href="http://fontawesome.io/icons/">FontAwesome</a> The iconic font and CSS toolkit. Free to use. <a href="https://www.bootstrapcdn.com/fontawesome/">CDN</a>. <a href="https://github.com/FortAwesome/Font-Awesome">GitHub</a>.</li>
  <li><a href="https://manageiq.github.io/font-fabulous/">Font Fabulous</a> A fabulous iconset packaged as a font. Free to use. <a href="https://github.com/ManageIQ/font-fabulous">GitHub</a>.</li>
  <li><a href="https://remixicon.com/">Remix Icons</a> Huge repo of consistent neutrally styled icons. <a href="https://github.com/Remix-Design/remixicon">GitHub</a></li>
  <li><a href="https://react-icons.github.io/react-icons/">React Icons</a> SVG react icons of popular icon packs. <a href="https://github.com/react-icons/react-icons">GitHub</a></li>
  <li><a href="https://styled-icons.js.org/">Styled Icons</a> Icon packs like Font Awesome, Material Design, and Octicons, available as React Styled Components. <a href="https://github.com/jacobwgillespie/styled-icons">GitHub</a></li>
  <li><a href="https://www.npmjs.com/package/react-feather">React Feather Icons</a> Collection of simply beautiful open source icons for React.js. <a href="React component for Feather icons">GitHub</a></li>
</ul>

<h2 id="fonts">Fonts</h2>

<ul>
  <li><a href="https://www.theleagueofmoveabletype.com/">The League of Movable Type</a></li>
  <li><a href="http://openfontlibrary.org">Open Font Library</a></li>
  <li><a href="http://google.com/fonts">Google Web Fonts</a></li>
  <li><a href="http://design-research.be/by-womxn/">Libre Fonts by Womxn</a></li>
  <li><a href="https://open-foundry.com">Open Foundry</a></li>
  <li><a href="http://osp.kitchen/foundry/">Open Source Publishing Foundry</a></li>
  <li><a href="https://www.velvetyne.fr">Velvetyne</a></li>
  <li><a href="https://usemodify.com">Use &amp; Modify</a></li>
  <li><a href="https://fontforge.github.io">FontForge</a> font editor</li>
  <li><a href="https://www.metaflop.com">Metaflop</a> parametric font editor</li>
  <li><a href="https://www.prototypo.io">Prototypo</a> parametric font editor (<a href="https://github.com/byte-foundry/prototypo">source code</a>)</li>
  <li><a href="http://metapolator.com/home/">Metapolator</a> font editor</li>
  <li><a href="http://manufacturaindependente.org/typebits/">Type:Bits</a> collaborative type design workshop</li>
</ul>

<p>Some of these platforms also take submissions, so if you designed a font with an open license, submit it there!</p>

<h2 id="images">Images</h2>

<ul>
  <li><a href="http://pixabay.com/">Pixabay</a></li>
  <li><a href="https://flickr.com/creativecommons/">Flickr Creative Commons</a></li>
  <li><a href="http://www.gratisography.com/">Gratisography</a></li>
  <li><a href="http://thestocks.im/">The Stocks</a></li>
  <li><a href="http://www.freeimages.com/">FreeImages</a></li>
  <li><a href="https://stocksnap.io/">StockSnap</a></li>
  <li><a href="http://finda.photo/">FindA.Photo</a></li>
  <li><a href="http://www.nypl.org/research/collections/digital-collections/public-domain?hspace=331354">New York Public Library Public Domain
Images</a></li>
  <li><a href="https://undraw.co/">unDraw</a></li>
  <li><a href="https://interfacer.xyz/">Interfacer</a></li>
  <li><a href="https://www.opendoodles.com/">Open Doodles</a></li>
</ul>

<h2 id="media-from-big-platforms-under-creative-commons-licenses">Media from big platforms under Creative Commons licenses</h2>

<ul>
  <li><a href="http://search.creativecommons.org">Creative Commons search</a></li>
  <li><a href="https://commons.wikimedia.org/wiki/Main_Page">Wikimedia</a></li>
  <li><a href="https://www.youtube.com/creativecommons">Youtube</a></li>
  <li><a href="http://soundcloud.com/creativecommons">SoundCloud</a></li>
  <li><a href="https://vimeo.com/musicstore">Vimeo Music Store</a></li>
</ul>

<h2 id="design-tools">Design tools</h2>

<ul>
  <li>Use a pen &amp; paper for <a href="http://alistapart.com/article/paperprototyping">mockups and
prototypes</a>. No hi-fi Photoshop
work needed.</li>
  <li><a href="https://www.draw.io/">Draw.io</a> (diagrams, mockups)</li>
  <li><a href="http://pencil.evolus.vn/">Pencil</a> (mockups)</li>
  <li><a href="https://krita.org/en/">Krita</a> (art, digital painting)</li>
  <li><a href="https://www.blender.org/">Blender</a> (3d rendering, animation, textures)</li>
  <li><a href="https://www.darktable.org/">darktable</a> (photo workflow)</li>
  <li><a href="https://www.rawtherapee.com">RawTherapee</a> (photo workflow)</li>
  <li><a href="https://www.digikam.org/">digiKam</a> (photo management)</li>
  <li><a href="https://www.gimp.org/">GIMP</a> (image manipulation, compositing)</li>
  <li><a href="https://inkscape.org/en/">Inkscape</a> (vector elements, print export)</li>
  <li><a href="http://synfig.org/">Synfig</a> for animation</li>
  <li><a href="https://natrongithub.github.io/">Natron</a> (compositing, VFX, motion graphics)</li>
  <li><a href="https://www.scribus.net/">Scribus</a> (page layout, desktop publishing)</li>
  <li><a href="https://displaycal.net/">DisplayCAL</a> (color calibration)</li>
  <li><a href="https://kdenlive.org">Kdenlive</a> (video editing)</li>
  <li>Design discussion on the issue tracker of the project. For example at
<a href="http://github.com">GitHub</a> – get an account, identify design issues,
participate, and open new issues. Establish a »Design« tag on the tracker to
group these issues, for example like in the <a href="https://github.com/nextcloud/core/issues?labels=Design">Nextcloud
issues</a>.</li>
</ul>

<h2 id="color-choices">Color Choices</h2>

<ul>
  <li><a href="http://www.colinkeany.com/blend/">Blend</a>: CSS gradient generator.</li>
  <li><a href="https://leonardocolor.io/">Leonardo.io by Adobe</a>: Color contrast generator.</li>
  <li><a href="https://contrast-finder.tanaguru.com/">Tanaguru</a>: For finding complementary colors.</li>
  <li><a href="https://colors.lol/">colors.lol</a>: Overly descriptive color palettes.</li>
</ul>

<h2 id="css-frameworks">CSS Frameworks</h2>

<ul>
  <li><a href="http://getbootstrap.com">Bootstrap</a> Fully featured mature HTML, CSS (LESS) &amp;
Javascript.</li>
  <li><a href="http://foundation.zurb.com">Foundation</a> Fully featured mature HTML, CSS
(Sass) &amp; Javascript.</li>
  <li><a href="http://www.basscss.com/">BASCSS</a> Lightning-Fast, Modular CSS for Designers.</li>
  <li><a href="http://bourbon.io/">Bourbon</a> A simple and lightweight mixin library for Sass.</li>
  <li><a href="http://tmwagency.github.io/kickoff/">Kickoff</a> A lightweight front-end
framework for creating scalable, responsive sites.</li>
  <li><a href="http://spacebase.space150.com/">Space Base</a> A sass-based responsive css
framework.</li>
  <li><a href="http://github.com/brennannovak/rebar">Rebar</a> Simple lightweight HTML, CSS
(LESS)</li>
  <li><a href="http://patternfly.org">PatternFly</a> A community of designers and developers collaborating to build a UI framework for enterprise web applications.</li>
</ul>

<h2 id="general-design-reads">General Design Reads</h2>
<ul>
  <li><a href="http://www.nngroup.com/articles/first-rule-of-usability-dont-listen-to-users/">First Rule of Usability? Don’t Listen to
Users</a>
by Jakob Nielsen (2001)</li>
  <li><a href="http://www.nngroup.com/articles/ten-usability-heuristics/">10 Heuristics for User Interface
Design</a> by Jakob
Nielsen (1995)</li>
  <li><a href="http://bokardo.com/principles-of-user-interface-design/">19 Principles of User Interface
Design</a> by Joshua
Porter</li>
  <li><a href="https://www.vitsoe.com/gb/about/good-design">ten principles for good design</a>
by Dieter Rams (1970s)</li>
  <li><a href="http://jdittrich.github.io/userNeedResearchBook/">A Beginner’s Guide to Finding User
Needs</a></li>
  <li><a href="http://www.amazon.com/Dont-Make-Me-Think-Usability/dp/0321344758/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1371607999&amp;sr=1-1&amp;keywords=don%27t+make+me+think">Don’t Make Me
Think</a></li>
  <li><a href="http://www.amazon.com/Design-Everyday-Things-Donald-Norman/dp/0465067107/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1371607869&amp;sr=1-1&amp;keywords=the+design+of+everyday+things">The Design of Everyday
Things</a></li>
  <li><a href="http://learndesignprinciples.com/">Design principles for UI/UX</a></li>
</ul>

<h2 id="open-source-and-design-reads">Open Source and Design Reads</h2>

<ul>
  <li><a href="http://ometer.com/free-software-ui.html">Free Software UI (2002)</a></li>
  <li><a href="http://www.alexcornell.com/the-worst-portfolio-ever/">How Not To Design a
Portfolio</a></li>
  <li><a href="http://opendesignnow.org/">Open Design Now</a> book.</li>
  <li><a href="http://jancborchardt.net/usability-in-free-software">Coordinating usability &amp; testing in Free Software (2011)</a> thesis.</li>
  <li><a href="http://designopen.org/articles/import-designers/">How to get designers (or anyone) to work on your open source
project</a> recent article on
Design Open.</li>
  <li><a href="http://www.academia.edu/6537077/Barriers_faced_by_newcomers_to_open_source_projects_a_systematic_review">Barriers Faced by newcomers to open source projects: a systematic
review</a>
Research Paper.</li>
  <li><a href="https://www.academia.edu/4303779/An_Exploration_of_Fedora_s_Online_Open_Source_Development_Community">An Exploration of Fedora’s Online Open Source Development
Community</a>
Research Paper.</li>
  <li><a href="http://old.vi.to/designers-and-women-in-open-source.html">Designers and women in open
source</a> Why designing
is difficult for Open Source.</li>
  <li><a href="http://smarterware.org/7550/designers-women-and-hostility-in-open-source">Designers, Women, and Hostility in Open Source
Project</a>
Follow up to the above article.</li>
  <li><a href="http://designopen.org/articles/barriers-for-designers/">Barriers for
Designers</a> What barriers
designers face when contributing to Open Source.</li>
</ul>

<h2 id="other-nice-stuff-in-the-design--open-source-space">Other nice stuff in the design + open source space</h2>

<ul>
  <li><a href="http://libregraphicsmag.com/">Libre Graphics magazine</a> print magazine.</li>
  <li><a href="http://libreprojects.net">Libre Projects</a> collection of nice open source web
apps.</li>
  <li><a href="http://libregraphicsworld.org/">Libre Graphics World</a></li>
  <li><a href="http://libregraphicsmeeting.org/">Libre Graphics Meeting</a> conference.</li>
  <li><a href="http://beautifulopen.com">Beautiful Open</a> Beautiful sites for Open Source
projects.</li>
  <li><a href="http://design.okfn.org/">Open Design and Hardware Group</a>. OKFN open design
and hardware group.</li>
  <li><a href="https://pixls.us">PIXLS.US</a> Free/Open Source Photography.
    <ul>
      <li><a href="https://pixls.us/software/">List of Free Software Photography Projects</a></li>
    </ul>
  </li>
  <li><a href="https://commons.wikimedia.org/wiki/Category:Designethnography">Photos of Design Research</a> on Wikimedia Commons</li>
  <li><a href="https://www.checklist.design/">Checklist Design</a> A collection of the some UX and UI practices.</li>
  <li><a href="https://untools.co/">Untools</a> Tools for better thinking.</li>
</ul>

<h2 id="learn-to-code">Learn to Code</h2>

<p>Focused on HTML, CSS, Javascript. Ideally, to be able to implement your own
suggestions. But also to better discuss with developers and be understand why
and how certain things work and don’t work.</p>

<ul>
  <li><a href="http://www.webplatform.org/">WebPlatform</a> web development resources.</li>
  <li><a href="https://developer.mozilla.org/">Mozilla Developer Network</a> for great web dev
documentation.</li>
  <li><a href="http://www.unheap.com/">Unheap</a> a tidy repository of jQuery plugins.</li>
  <li><a href="http://css-tricks.com/transitional-interfaces-coded/">Transitional Interfaces,
Coded</a> for good
animations.</li>
  <li><a href="http://www.codecademy.com/">Codecademy</a> with interactive tutorials.</li>
  <li><a href="http://try.github.io/">Try Git</a> also with interactive tutorials.</li>
  <li><a href="http://code.org/">code.org</a></li>
  <li><a href="https://www.codeschool.com/">Code School</a> learn even more.</li>
  <li><a href="http://egghead.io/">Egghead</a> to learn the AngularJS framework.</li>
  <li><a href="https://github.com/Khan/tota11y">Tota11y</a> a bookmarklet to check that your
website is a11y compliant.</li>
  <li><a href="https://opensource.guide/how-to-contribute/">Open Source Guide: How to Contribute to Open Source</a></li>
  <li><a href="https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github">Course: How to Contribute to an Open Source Project on GitHub</a></li>
</ul>

<h2 id="learn-to-design">Learn to Design</h2>

<p>Learn about design concepts! :)</p>

<ul>
  <li><a href="https://hackdesign.org/">Hack Design</a> Free design lessons by inspirational
designers.</li>
  <li><a href="http://trydesignlab.com/">Design Lab</a> Design course with mentorship and
projects.</li>
  <li><a href="http://voiceandtone.com/">Voice and Tone</a> Learn about writing good copy.</li>
</ul>

      </article>
    </div>
  </div>
</div>

      </div>
    </div>
    <div class="page-footer container center">
  <a href="https://www.mline.top">
    <i class="icon fa fa-pencil fa-fw"></i> SAMHO WEB </a
  >&nbsp;&nbsp;&nbsp;
  <a href="https://www.oneshu.xyz">
    <i class="icon fa fa-code fa-fw"></i> Our Team
  </a>
</div>
<footer class="site-footer container">
  <ul class="social-media-list row">
    
    <li>
      <a href="https://www.samho.club">
        <span class="icon icon--github">
          <svg viewBox="0 0 16 16">
           
          </svg>
        </span>
        <span class="username">SAMHO</span>
      </a>
    </li>
    
  </ul>
</footer>

<script id="template-events-item" type="text/template">
  <div class="post">
    <h3>
      <a href="<%= link %>">
        <%= title %>
      </a>
    </h3>
  </div>
</script>

<script id="template-jobs-item" type="text/template">
  <div class="post">
    <h3>
      <a href="<%= link %>">
        <%= title %>
      </a>
    </h3>
  </div>
</script>

<script src="/js/jquery.min.js"></script>
<script src="/js/underscore-min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/site.js"></script>
 <script>
(function(){
var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>   
  </body>
</html>